<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ksh.mapper.InventoryMapper">
	<select id="select1" resultType="com.ksh.model.InventoryVO">
		SELECT *
		FROM medical_goods_order.inventory
		WHERE dept="병동A";
		<!-- WHERE dept==session.name.dept -->
	</select>
</mapper>